$primary-color: #131112;
$secondary-color: #279AF1 ;
$button-color: #60656F;
$hover-button: #c49991;


body {
    background-color: $primary-color;
    color: white;
}
button{
    background-color:$button-color ;

}